@charset "UTF-8";
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUILight/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUILight/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUILight/SegoeUI-Light.otf") format("opentype"), url("../fonts/SegoeUILight/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2666; }
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUIRegular/SegoeUI.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUI.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUIRegular/SegoeUI.otf") format("opentype"), url("../fonts/SegoeUIRegular/SegoeUI.svg#SegoeUI-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.ttf") format("truetype"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.otf") format("opentype"), url("../fonts/SegoeUISemiBold/SegoeUI-SemiBold.svg#SegoeUI-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUIBold/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUI-Bold.ttf") format("truetype"), url("../fonts/SegoeUIBold/SegoeUI-Bold.otf") format("opentype"), url("../fonts/SegoeUIBold/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666; }
@font-face {
  font-family: 'PFSquareSansPro';
  src: url("../fonts/PFSquareSansPro-Light/PFSquareSansPro-Light_gdi.eot");
  src: url("../fonts/PFSquareSansPro-Light/PFSquareSansPro-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Light/PFSquareSansPro-Light_gdi.woff") format("woff"), url("../fonts/PFSquareSansPro-Light/PFSquareSansPro-Light_gdi.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Light/PFSquareSansPro-Light_gdi.svg#PFSquareSansPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFSquareSansPro';
  src: url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular_gdi.eot");
  src: url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular_gdi.woff") format("woff"), url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular_gdi.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Regular/PFSquareSansPro-Regular_gdi.svg#PFSquareSansPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFSquareSansPro';
  src: url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium_gdi.eot");
  src: url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium_gdi.woff") format("woff"), url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium_gdi.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Medium/PFSquareSansPro-Medium_gdi.svg#PFSquareSansPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
@font-face {
  font-family: 'PFSquareSansPro';
  src: url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold_gdi.eot");
  src: url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold_gdi.woff") format("woff"), url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold_gdi.ttf") format("truetype"), url("../fonts/PFSquareSansPro-Bold/PFSquareSansPro-Bold_gdi.svg#PFSquareSansPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA; }
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  min-width: 1240px;
  font-family: "SegoeUI", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #0d80e6;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

section {
  max-width: 100%;
  overflow: hidden;
  position: relative; }

.heading {
  height: 120px;
  position: relative; }
  .heading .heading-letter {
    top: 0;
    left: 0;
    color: #dadada;
    font-size: 180px;
    font-weight: 700;
    line-height: 120px;
    position: absolute;
    font-family: "PFSquareSansPro", sans-serif; }
  .heading .heading-text {
    font-size: 17px;
    line-height: 17px;
    position: relative;
    margin-left: 245px;
    padding-bottom: 20px;
    text-transform: uppercase; }
    .heading .heading-text:before {
      left: 0;
      bottom: 0;
      content: '';
      width: 100px;
      position: absolute;
      border-bottom: 2px solid #000; }
  .heading .heading-word {
    top: 35px;
    left: 70px;
    font-size: 42px;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    text-transform: uppercase; }

.form-block {
  color: #000;
  width: 520px;
  background: #fff;
  text-align: center;
  padding: 60px 70px; }
  .form-block .form-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: "PFSquareSansPro", sans-serif;
    text-transform: uppercase; }
  .form-block .form-text {
    color: #444;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px; }
  .form-block .form-inner {
    width: 260px;
    margin: 0 auto 40px auto; }

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  z-index: 50;
  position: absolute;
  background: url("../img/sidebar.png") 0 50% no-repeat; }
  .sidebar .sidebar-inner {
    width: 100%;
    height: 100%;
    position: relative; }
  .sidebar a {
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    display: block;
    cursor: pointer;
    margin-top: -190px;
    position: absolute; }

.bg-layout {
  top: 0;
  left: 50%;
  z-index: 20;
  height: 100%;
  width: 1920px;
  margin-left: -960px;
  position: absolute; }

.character-layout {
  top: 0;
  left: 50%;
  z-index: 30;
  height: 100%;
  width: 1920px;
  margin-left: -960px;
  position: absolute; }
  .character-layout .character-inner {
    width: 100%;
    height: 100%;
    position: relative; }
  .character-layout .character {
    color: #f2f2f2;
    line-height: 1;
    font-weight: 700;
    position: absolute;
    font-family: "PFSquareSansPro", sans-serif; }

.content-layout {
  z-index: 40;
  position: relative; }

.character-layout {
  top: 0;
  left: 50%;
  z-index: 30;
  height: 100%;
  width: 1920px;
  margin-left: -960px;
  position: absolute; }
  .character-layout .character-inner {
    width: 100%;
    height: 100%;
    position: relative; }
  .character-layout .character {
    color: #f2f2f2;
    line-height: 1;
    font-weight: 700;
    position: absolute;
    font-family: "PFSquareSansPro", sans-serif; }

.content-layout {
  z-index: 40;
  position: relative; }

.btn_close {
  top: -84px;
  right: -84px;
  width: 57px;
  height: 57px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon-close.png") 0 0 no-repeat; }

.video-box {
  width: 800px; }

.section-inner {
  position: relative; }

.modal-box {
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  color: #fff;
  z-index: 9999;
  position: fixed;
  overflow: hidden;
  background: #000;
  max-width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .modal-box .modal-box-inner {
    width: 100%;
    height: 100%;
    padding: 50px 30px 0 30px;
    position: relative; }
    .modal-box .modal-box-inner .btn-close {
      top: 10px;
      right: 12px;
      width: 57px;
      height: 57px;
      display: none;
      cursor: pointer;
      position: absolute;
      background: url("../img/icon-close.png") 0 0 no-repeat; }
  .modal-box.open {
    width: 600px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .modal-box.open .btn-close {
      display: block; }
  .modal-box .form-block {
    color: #fff;
    background: #000; }
  .modal-box .form-text {
    color: #f5f5f5; }

.btn {
  margin: 0;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  position: relative;
  padding: 20px 35px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  border: 2px solid #fff;
  background: transparent;
  touch-action: manipulation;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    color: #000;
    background: #fff;
    text-decoration: none; }

.btn-invert {
  color: #000;
  border-color: #000; }
  .btn-invert:hover {
    color: #fff;
    background: #000; }

.btn-text {
  color: #aaa;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa; }
  .btn-text:hover {
    color: #fff;
    border-color: #fff; }

.form-control {
  margin: 0;
  width: 100%;
  color: #ccc;
  border: none;
  outline: none;
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  padding: 15px 5px;
  text-align: center;
  display: inline-block;
  background: transparent;
  border-bottom: 1px solid #ccc; }
  .form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #ccc; }
  .form-control::-webkit-input-placeholder {
    color: #ccc; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.red .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 15px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.footer-main {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 126px;
  min-width: 1240px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #454545; }
  .footer-main .footer-row {
    width: 100%;
    z-index: 100;
    display: table;
    position: relative; }
    .footer-main .footer-row li {
      width: 33.33%;
      height: 125px;
      display: table-cell;
      vertical-align: middle; }
      .footer-main .footer-row li.item1 {
        color: #ddd;
        font-size: 24px;
        font-weight: 300;
        line-height: 50px;
        font-family: "PFSquareSansPro", sans-serif; }
        .footer-main .footer-row li.item1 span {
          display: block;
          color: #de1c22;
          font-weight: 600; }
      .footer-main .footer-row li.item2 {
        text-align: center; }
        .footer-main .footer-row li.item2 .tel {
          color: #fefefe;
          font-size: 24px;
          font-weight: 300;
          line-height: 40px;
          display: inline-block;
          text-decoration: none; }
        .footer-main .footer-row li.item2 .email {
          color: #fefefe;
          font-size: 16px;
          font-weight: 300;
          line-height: 40px;
          display: inline-block;
          text-decoration: none; }
      .footer-main .footer-row li.item3 {
        text-align: right; }

.head {
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 140px;
  z-index: 999;
  min-width: 1240px;
  padding-top: 40px;
  position: absolute; }
  .head .header-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    min-width: 1240px;
    position: relative; }
    .head .header-container:before, .head .header-container:after {
      content: " ";
      display: table; }
    .head .header-container:after {
      clear: both; }
  .head .header-logo {
    float: left; }
  .head .header-contact {
    float: right;
    width: 250px;
    text-align: right; }
    .head .header-contact li {
      margin-bottom: 15px; }
      .head .header-contact li .tel {
        color: #fff;
        outline: none;
        font-size: 24px;
        font-weight: 300;
        line-height: 24px;
        text-decoration: none;
        font-family: "PFSquareSansPro", sans-serif; }
  .head .btn-callback {
    color: #fff;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; }
    .head .btn-callback:hover {
      color: #dc1217;
      border-color: #dc1217; }
  .head .playback {
    float: right;
    margin-right: 90px; }
    .head .playback li {
      float: left;
      margin: 0 5px; }
      .head .playback li:first-child {
        margin-right: 28px; }
      .head .playback li:last-child {
        margin-left: 28px; }
      .head .playback li a {
        outline: none;
        color: #848585;
        font-size: 16px;
        line-height: 16px;
        padding: 2px 3px;
        display: inline-block;
        text-decoration: none; }
        .head .playback li a:hover {
          color: #fff; }
        .head .playback li a.active {
          color: #fff; }

.b01 {
  z-index: 100;
  color: #fff;
  position: relative;
  background: url("../img/b01_bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .b01.page-start {
    padding: 220px 0; }
  .b01 .container {
    width: auto;
    max-width: 1440px;
    min-width: 1240px; }
  .b01 .content {
    background: url("../img/b01_text-right.png") 100% 50% no-repeat; }
  .b01 h1 {
    font-size: 90px;
    line-height: 100px;
    font-family: "PFSquareSansPro", sans-serif;
    margin-bottom: 50px; }
  .b01 .text {
    font-size: 25px;
    line-height: 30px; }
  .b01 .scroll-down {
    left: 50%;
    bottom: 50px;
    width: 110px;
    color: #ffffff;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    position: absolute;
    margin-left: -55px;
    padding-bottom: 25px;
    text-decoration: none;
    text-transform: uppercase;
    background: url("../img/b01_scroll.png") 50% 100% no-repeat;
    opacity: 0.8;
    filter: alpha(opacity=80); }
    .b01 .scroll-down:hover {
      opacity: 1;
      filter: alpha(opacity=100); }

.b02 {
  position: relative; }
  .b02 .character-layout .character01 {
    top: 200px;
    left: 1290px;
    font-size: 370px; }
  .b02 .character-layout .character02 {
    top: 850px;
    left: 170px;
    color: #f5f5f5;
    font-size: 150px; }
  .b02 .character-layout .character03 {
    top: 1260px;
    left: 1260px;
    color: #f5f5f5;
    font-size: 500px; }
  .b02 .character-layout .character04 {
    top: 1900px;
    left: 370px;
    color: #f5f5f5;
    font-size: 150px; }
  .b02 .character-layout .character05 {
    top: 1800px;
    left: 1410px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 400px; }
  .b02 .character-layout .character06 {
    top: 3050px;
    left: 1180px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 150px; }
  .b02 .character-layout .character07 {
    top: 3150px;
    left: 1480px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 100px; }
  .b02 .character-layout .character08 {
    top: 3350px;
    left: 1450px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 300px; }
  .b02 .character-layout .character09 {
    top: 4090px;
    left: 1090px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 200px; }
  .b02 .character-layout .character10 {
    top: 4860px;
    left: 70px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 400px; }
  .b02 .character-layout .character11 {
    top: 4900px;
    left: 1660px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 300px; }
  .b02 .character-layout .character12 {
    top: 5500px;
    left: 1620px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 400px; }
  .b02 .character-layout .character13 {
    top: 6500px;
    left: 140px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 120px; }
  .b02 .character-layout .character14 {
    top: 6600px;
    left: 1600px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 400px; }
  .b02 .character-layout .character15 {
    top: 7000px;
    left: 100px;
    z-index: 100;
    color: #f5f5f5;
    font-size: 250px; }

.one {
  height: 1080px;
  padding-top: 185px;
  position: relative; }
  .one .people li {
    width: 365px; }
    .one .people li.item1 {
      float: left;
      padding-top: 55px;
      margin-left: 130px; }
    .one .people li.item2 {
      float: right;
      margin-right: 160px; }
      .one .people li.item2 .people-item:before {
        height: 250px; }
  .one .people h4 {
    color: #888;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 18px; }
  .one .people .people-item {
    cursor: pointer;
    margin-left: 28px;
    position: relative;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07); }
    .one .people .people-item:before {
      top: 0;
      left: -28px;
      content: '';
      height: 195px;
      position: absolute;
      border-left: 1px solid #ececec; }
    .one .people .people-item .people-title {
      left: 30px;
      right: 30px;
      bottom: 25px;
      color: #eeeeee;
      display: block;
      font-size: 15px;
      line-height: 27px;
      position: absolute; }
      .one .people .people-item .people-title strong {
        color: #fff;
        font-size: 17px; }
    .one .people .people-item .people-text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #eee;
      display: none;
      font-size: 15px;
      line-height: 24px;
      position: absolute;
      padding: 25px 30px;
      background: rgba(0, 0, 0, 0.8); }
      .one .people .people-item .people-text p {
        position: relative;
        padding-bottom: 10px; }
        .one .people .people-item .people-text p:before {
          left: 0;
          bottom: 0;
          content: '';
          width: 100px;
          position: absolute;
          border-bottom: 2px solid #fff; }
    .one .people .people-item:hover .people-title {
      display: none; }
    .one .people .people-item:hover .people-text {
      display: block; }

.two {
  height: 1080px;
  padding-top: 185px; }
  .two .heading {
    margin-bottom: 140px; }
    .two .heading .heading-text {
      margin-left: 360px; }
  .two .text {
    font-size: 34px;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 120px; }
  .two .social .social-left {
    color: #888;
    float: left;
    width: 270px;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 35px; }
    .two .social .social-left span {
      color: #000; }
  .two .social .social-right {
    width: 900px;
    float: right;
    margin-right: -5px; }
  .two .social .social-icon {
    margin-bottom: 25px; }
    .two .social .social-icon li {
      float: left;
      width: 140px;
      height: 140px;
      margin: 0 5px;
      background: #000 url("../img/b02_two_icon.png") no-repeat; }
      .two .social .social-icon li:hover {
        background-color: #fff; }
      .two .social .social-icon li a {
        width: 100%;
        height: 100%;
        display: block;
        border-top: 3px solid #000;
        border-bottom: 3px solid #000; }
      .two .social .social-icon li.item1 {
        background-position: 0 -140px; }
        .two .social .social-icon li.item1:hover {
          background-position: 0 0; }
      .two .social .social-icon li.item2 {
        background-position: -150px -140px; }
        .two .social .social-icon li.item2:hover {
          background-position: -150px 0; }
      .two .social .social-icon li.item3 {
        background-position: -300px -140px; }
        .two .social .social-icon li.item3:hover {
          background-position: -300px 0; }
      .two .social .social-icon li.item4 {
        background-position: -450px -140px; }
        .two .social .social-icon li.item4:hover {
          background-position: -450px 0; }
      .two .social .social-icon li.item5 {
        background-position: -600px -140px; }
        .two .social .social-icon li.item5:hover {
          background-position: -600px 0; }
      .two .social .social-icon li.item6 {
        background-position: -750px -140px; }
        .two .social .social-icon li.item6:hover {
          background-position: -750px 0; }
  .two .social .social-help {
    padding: 0 20px;
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border-left: 1px solid #000;
    border-right: 1px solid #000; }
  .two .social .worktime {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-left: 5px; }
    .two .social .worktime span {
      font-size: 24px;
      font-weight: 600; }

.three {
  z-index: 50;
  height: 1080px;
  padding-top: 210px; }
  .three .heading .heading-letter {
    color: #aaa; }
  .three .heading .heading-word {
    color: #fff; }
  .three .heading .heading-text {
    color: #fff;
    margin-left: 360px; }
    .three .heading .heading-text:before {
      border-color: #fff; }
  .three .creative {
    width: 1170px;
    margin: 0 auto 75px auto;
    position: relative; }
    .three .creative .creative-item {
      float: left;
      width: 380px;
      outline: none;
      margin: 0 5px;
      background: #f7f7f7; }
    .three .creative .creative-img {
      position: relative; }
    .three .creative h4 {
      top: 35px;
      left: 25px;
      right: 25px;
      color: #fff;
      font-size: 24px;
      line-height: 26px;
      position: absolute;
      text-transform: uppercase;
      font-family: "PFSquareSansPro", sans-serif; }
    .three .creative p {
      color: #888;
      font-size: 16px;
      line-height: 24px;
      padding: 25px 25px;
      margin-bottom: 10px; }
    .three .creative .creative-nav {
      top: 50%;
      width: 21px;
      height: 93px;
      z-index: 100;
      cursor: pointer;
      margin-top: -46px;
      position: absolute;
      background: url("../img/creative-nav.png") no-repeat; }
      .three .creative .creative-nav.prev {
        left: -30px;
        background-position: 0 0; }
      .three .creative .creative-nav.next {
        right: -30px;
        background-position: -21px 0; }
    .three .creative .slick-dots {
      right: -10px;
      width: 200px;
      bottom: -55px;
      font-size: 0;
      line-height: 0;
      text-align: right;
      position: absolute; }
      .three .creative .slick-dots li {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        display: inline-block; }
        .three .creative .slick-dots li button {
          margin: 0;
          padding: 0;
          width: 20px;
          height: 20px;
          outline: none;
          overflow: hidden;
          background: #fff;
          display: inline-block;
          border: 2px solid #000;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .three .creative .slick-dots li.slick-active button {
          background: #000;
          border-color: #fff; }

.four {
  height: 1080px;
  padding-top: 184px; }
  .four .heading .heading-text {
    margin-left: 280px; }
  .four .service {
    color: #000;
    height: 620px;
    margin-top: -35px;
    position: relative; }
    .four .service .service-item {
      width: 345px;
      height: 200px;
      overflow: hidden;
      position: relative; }
    .four .service .service-text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #ffffff;
      overflow: hidden;
      position: absolute;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      padding: 135px 30px 20px 30px; }
    .four .service h4 {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin-bottom: 15px;
      padding-bottom: 17px;
      position: relative; }
      .four .service h4:before {
        left: 0;
        bottom: 0;
        content: '';
        width: 50px;
        display: none;
        position: absolute;
        border-bottom: 2px solid #fff; }
    .four .service li {
      width: 345px;
      height: 200px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      position: absolute; }
      .four .service li:hover .service-text {
        padding-top: 20px;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        background: rgba(0, 0, 0, 0.7); }
      .four .service li:hover h4:before {
        display: block; }
      .four .service li.item1 {
        left: 0;
        top: 160px; }
      .four .service li.item2 {
        top: 45px;
        left: 410px; }
      .four .service li.item3 {
        top: 0;
        left: 810px; }
      .four .service li.item4 {
        left: 0;
        top: 420px; }
      .four .service li.item5 {
        top: 305px;
        left: 410px; }
      .four .service li.item6 {
        top: 260px;
        left: 810px; }

.five {
  height: 1080px;
  padding-top: 184px; }
  .five .heading .heading-word {
    left: 110px; }
  .five .model {
    margin-top: -20px;
    margin-right: -30px; }
    .five .model .model-item {
      outline: none;
      padding-top: 83px;
      position: relative; }
    .five .model .model-image {
      width: 1180px; }
    .five .model .model-nav {
      top: 50%;
      width: 21px;
      height: 93px;
      z-index: 100;
      cursor: pointer;
      margin-top: -46px;
      position: absolute;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background: url("../img/slide-nav.png") no-repeat; }
      .five .model .model-nav:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
      .five .model .model-nav.prev {
        left: -30px;
        background-position: 0 0; }
      .five .model .model-nav.next {
        right: 0;
        background-position: -21px 0; }
  .five .model-inner {
    position: relative; }
    .five .model-inner .model-text {
      top: 0;
      right: 0;
      z-index: 100;
      color: #fff;
      width: 630px;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      padding: 40px 60px;
      position: absolute;
      background: #000000; }
      .five .model-inner .model-text p {
        margin-bottom: 0;
        position: relative;
        padding-bottom: 16px; }
        .five .model-inner .model-text p:before {
          left: 0;
          bottom: 0;
          content: '';
          width: 100px;
          position: absolute;
          border-bottom: 2px solid #fff; }

.six {
  height: 1080px;
  padding-top: 184px; }
  .six .heading {
    margin-bottom: 130px; }
    .six .heading .heading-text {
      margin-left: 320px; }
  .six .analysis {
    color: #fff;
    width: 100%;
    display: table;
    margin-bottom: 25px; }
    .six .analysis li {
      height: 135px;
      display: table-cell;
      vertical-align: middle; }
      .six .analysis li.item1 {
        width: 135px;
        background-color: #fff;
        border-left: 1px solid #ececec; }
        .six .analysis li.item1.icon1 {
          background: #fff url("../img/six_item1.png") 50% 50% no-repeat; }
        .six .analysis li.item1.icon2 {
          background: #fff url("../img/six_item2.png") 50% 50% no-repeat; }
        .six .analysis li.item1.icon3 {
          background: #fff url("../img/six_item3.png") 50% 50% no-repeat; }
      .six .analysis li.item2 {
        width: 400px;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        padding-left: 45px;
        padding-right: 60px;
        text-transform: uppercase;
        background: url("../img/six_arrow.png") 327px 50% no-repeat; }
      .six .analysis li.item3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 10px; }

.seven {
  height: 1080px;
  padding-top: 184px;
  position: relative; }
  .seven.full .seven-one {
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0); }
  .seven.full .seven-two {
    z-index: 45;
    opacity: 1;
    filter: alpha(opacity=100); }

.seven-one {
  z-index: 45;
  left: 0;
  width: 1180px;
  height: 895px;
  position: absolute; }
  .seven-one .heading {
    margin-bottom: 30px; }
    .seven-one .heading .heading-text {
      margin-left: 520px; }
  .seven-one .portfolio li {
    float: left;
    width: 33.33%;
    position: relative;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; }
    .seven-one .portfolio li .text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      padding: 25px;
      text-align: right;
      position: absolute;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .seven-one .portfolio li .text .object {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase; }
      .seven-one .portfolio li .text .object-name {
        color: #ddd;
        font-size: 12px; }
    .seven-one .portfolio li .btn-more {
      color: #fff;
      right: 30px;
      bottom: 30px;
      width: 10px;
      height: 10px;
      outline: none;
      text-align: center;
      position: absolute;
      display: inline-block;
      text-decoration: none;
      border: 2px solid #fff;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .seven-one .portfolio li .btn-more i {
        display: none;
        font-size: 16px;
        line-height: 16px; }
    .seven-one .portfolio li:hover .text {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      background: rgba(0, 0, 0, 0.55); }
    .seven-one .portfolio li:hover .btn-more {
      width: 34px;
      height: 34px;
      padding: 5px 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .seven-one .portfolio li:hover .btn-more i {
        display: inline; }

.seven-two {
  z-index: -1;
  top: 0;
  left: 0;
  width: 1180px;
  height: 895px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0); }
  .seven-two .seven-two-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: right;
    text-transform: uppercase; }
  .seven-two .tabs {
    padding-left: 115px;
    position: relative; }
    .seven-two .tabs .tabs-content {
      width: 1065px;
      height: 835px;
      position: relative; }
  .seven-two .tabs-nav-inner {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 70px 0;
    position: absolute; }
  .seven-two .tabs-nav {
    width: 220px;
    position: relative; }
    .seven-two .tabs-nav .tabs-nav-item {
      padding: 3px;
      background: #fff;
      position: relative;
      margin-bottom: 10px; }
      .seven-two .tabs-nav .tabs-nav-item .tabs-nav-text {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        padding: 15px 10px 10px 15px; }
        .seven-two .tabs-nav .tabs-nav-item .tabs-nav-text span {
          color: #fff;
          display: block;
          font-size: 14px;
          line-height: 20px; }
        .seven-two .tabs-nav .tabs-nav-item .tabs-nav-text p {
          color: #fff;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 0; }
      .seven-two .tabs-nav .tabs-nav-item a {
        display: block;
        background: #000;
        position: relative; }
      .seven-two .tabs-nav .tabs-nav-item img {
        opacity: 0.4;
        filter: alpha(opacity=40); }
      .seven-two .tabs-nav .tabs-nav-item:hover a .tabs-nav-text {
        display: block; }
      .seven-two .tabs-nav .tabs-nav-item:hover img {
        opacity: 0.8;
        filter: alpha(opacity=80); }
      .seven-two .tabs-nav .tabs-nav-item.active img {
        opacity: 1;
        filter: alpha(opacity=100); }
    .seven-two .tabs-nav .tabs-nav-nav {
      left: -25px;
      width: 50px;
      height: 13px;
      z-index: 100;
      cursor: pointer;
      position: absolute;
      background: url("../img/vert-nav.png") no-repeat; }
      .seven-two .tabs-nav .tabs-nav-nav.prev {
        top: -50px;
        background-position: 0 0; }
      .seven-two .tabs-nav .tabs-nav-nav.next {
        bottom: -50px;
        background-position: 0 -13px; }
  .seven-two .tabs-item {
    top: 0;
    left: 0;
    z-index: 50;
    width: 1065px;
    height: 835px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0); }
    .seven-two .tabs-item.active {
      z-index: 70;
      opacity: 1;
      filter: alpha(opacity=100); }
    .seven-two .tabs-item .pf-slider-text {
      left: 0;
      right: 0;
      color: #fff;
      top: 295px;
      position: absolute; }
      .seven-two .tabs-item .pf-slider-text h4 {
        font-size: 32px;
        font-weight: 300;
        line-height: 44px;
        margin-left: 155px;
        margin-bottom: 50px; }
      .seven-two .tabs-item .pf-slider-text .btn {
        margin: 0 30px; }
    .seven-two .tabs-item .tabs-text {
      left: 0;
      top: 90px;
      width: 245px;
      display: none !important;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      padding: 15px 20px 20px 70px; }
      .seven-two .tabs-item .tabs-text span {
        color: #888;
        display: block;
        font-size: 14px;
        line-height: 28px; }
      .seven-two .tabs-item .tabs-text p {
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0; }
  .seven-two .pf-slider {
    height: 835px;
    overflow: hidden;
    position: relative; }
    .seven-two .pf-slider .pf-slider-item {
      height: 835px;
      position: relative;
      opacity: 1;
      filter: alpha(opacity=100);
      background: #000; }
      .seven-two .pf-slider .pf-slider-item.pf-slider-last img {
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .seven-two .pf-slider .slick-dots {
      right: 30px;
      bottom: 30px;
      font-size: 0;
      line-height: 0;
      position: absolute;
      text-align: right; }
      .seven-two .pf-slider .slick-dots li {
        width: 20px;
        margin: 0 10px;
        display: inline-block; }
        .seven-two .pf-slider .slick-dots li button {
          margin: 0;
          padding: 0;
          width: 20px;
          height: 20px;
          outline: none;
          overflow: hidden;
          display: inline-block;
          background: transparent;
          border: 2px solid #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .seven-two .pf-slider .slick-dots li.slick-active button {
          background: #fff;
          border-color: transparent; }

.bg-layout .one {
  background: url("../img/b02_one_bg.jpg") 50% 100% no-repeat; }
.bg-layout .three {
  background: url("../img/b02_three_bg.jpg") 50% 0 no-repeat; }
.bg-layout .four {
  background: url("../img/b02_four_bg.jpg") 50% 455px no-repeat; }
.bg-layout .six {
  background: url("../img/six-bg.jpg") 50% 352px no-repeat; }

.b03 .heading {
  margin-bottom: 45px; }
  .b03 .heading .heading-text {
    margin-left: 440px; }
.b03 .contents .contents-slider {
  position: relative; }
.b03 .contents .contents-item {
  outline: none;
  height: 550px;
  padding-top: 100px; }
  .b03 .contents .contents-item.item1 {
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
  .b03 .contents .contents-item.item2 {
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
  .b03 .contents .contents-item.item3 {
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
  .b03 .contents .contents-item.item4 {
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
.b03 .contents .contents-image {
  position: relative;
  margin-bottom: 30px; }
  .b03 .contents .contents-image .btn-more {
    color: #fff;
    right: 30px;
    bottom: 30px;
    width: 10px;
    height: 10px;
    outline: none;
    text-align: center;
    position: absolute;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .b03 .contents .contents-image .btn-more i {
      display: none;
      font-size: 16px;
      line-height: 16px; }
  .b03 .contents .contents-image:hover .btn-more {
    width: 34px;
    height: 34px;
    padding: 5px 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .b03 .contents .contents-image:hover .btn-more i {
      display: inline; }
.b03 .contents .contents-text {
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  text-align: center; }
  .b03 .contents .contents-text strong {
    font-weight: 600; }
.b03 .contents .slick-dots {
  font-size: 0;
  line-height: 0;
  padding-top: 47px;
  text-align: center; }
  .b03 .contents .slick-dots li {
    width: 30px;
    height: 15px;
    margin: 0 10px;
    display: inline-block; }
    .b03 .contents .slick-dots li button {
      margin: 0;
      padding: 0;
      width: 30px;
      height: 15px;
      border: none;
      outline: none;
      overflow: hidden;
      display: inline-block;
      background: transparent;
      border-bottom: 2px solid #e1e1e1; }
    .b03 .contents .slick-dots li.slick-active button {
      border-color: #000; }

.b05 .character-layout .character01 {
  top: 380px;
  right: -100px;
  color: #666666;
  font-size: 300px; }
.b05 .character-layout .character02 {
  top: 760px;
  left: 140px;
  color: #666666;
  font-size: 150px; }
.b05 .character-layout .character03 {
  top: 1270px;
  left: 1650px;
  color: #f5f5f5;
  font-size: 300px; }
.b05 .character-layout .character04 {
  top: 2280px;
  left: 100px;
  color: #f5f5f5;
  font-size: 400px; }
.b05 .character-layout .character05 {
  top: 2320px;
  right: -10px;
  z-index: 100;
  color: #f5f5f5;
  font-size: 250px; }
.b05 .character-layout .character06 {
  top: 3450px;
  left: 1670px;
  z-index: 100;
  color: #f5f5f5;
  font-size: 15px; }
.b05 .character-layout .character07 {
  top: 4000px;
  left: 70px;
  z-index: 100;
  color: #f5f5f5;
  font-size: 300px; }

.seven2 {
  color: #fff;
  height: 1080px;
  padding-top: 184px; }
  .seven2 .heading {
    color: #fff;
    margin-bottom: 60px; }
    .seven2 .heading .heading-text {
      margin-left: 340px; }
      .seven2 .heading .heading-text:before {
        border-color: #fff; }
  .seven2 .text1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
    margin-left: 240px;
    margin-bottom: 120px; }
    .seven2 .text1 span {
      display: block;
      font-weight: 600; }
  .seven2 .text2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 80px;
    margin-left: 130px;
    margin-bottom: 120px; }
    .seven2 .text2 .num {
      font-size: 80px; }
    .seven2 .text2 .small {
      font-size: 18px;
      line-height: 28px; }
  .seven2 .text3 {
    margin-left: 560px;
    font-size: 24px; }

.eight {
  height: 1080px;
  padding-top: 184px; }
  .eight .heading {
    margin-bottom: 35px; }
    .eight .heading .heading-text {
      margin-left: 440px; }
  .eight .text {
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    margin-bottom: 70px; }
    .eight .text span {
      display: block;
      font-size: 30px; }
  .eight .criterion {
    padding: 0;
    list-style: none;
    counter-reset: li;
    margin-bottom: 45px; }
    .eight .criterion li {
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      position: relative;
      margin-bottom: 25px;
      padding: 10px 0 10px 45px; }
      .eight .criterion li:before {
        top: 0;
        left: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        position: absolute;
        content: counter(li);
        counter-increment: li; }
      .eight .criterion li:after {
        top: 0;
        left: 30px;
        content: '.';
        font-size: 48px;
        font-weight: 300;
        line-height: 50px;
        position: absolute; }
      .eight .criterion li strong {
        font-weight: 600; }
      .eight .criterion li.item2 {
        margin-left: 30px; }
      .eight .criterion li.item3 {
        margin-left: 60px; }
      .eight .criterion li.item4 {
        margin-left: 90px; }
  .eight .text2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 40px;
    margin-left: 270px; }
    .eight .text2 b {
      font-weight: 600; }
    .eight .text2 span {
      font-size: 24px;
      font-weight: 600; }
  .eight .text3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
    margin-left: 185px;
    position: relative;
    padding-bottom: 15px; }
    .eight .text3:before {
      left: 0;
      bottom: 0;
      content: '';
      width: 100px;
      position: absolute;
      border-bottom: 2px solid #000; }
  .eight .btn {
    left: 690px;
    bottom: 0;
    position: absolute; }

.nine {
  height: 1080px;
  max-width: 100%;
  overflow: hidden;
  padding-top: 184px; }
  .nine .heading .heading-text {
    margin-left: 500px; }
  .nine .text {
    height: 130px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: -50px 0 0 500px; }
    .nine .text strong {
      font-weight: 600; }
  .nine .mb2comparison {
    height: 690px;
    max-width: 100%; }
    .nine .mb2comparison .mb2comparison-compare-before {
      height: 690px;
      max-width: 100%; }
    .nine .mb2comparison .mb2comparison-compare-after {
      height: 690px;
      max-width: 100%; }
  .nine .mb2comparison-compare-handle {
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 116px;
    height: 36px;
    cursor: pointer;
    margin-top: -16px;
    margin-left: -58px;
    position: absolute;
    background: url("../img/divider-handle.png") 0 0 no-repeat; }
  .nine .mb2comparison-compare-horizontal .mb2comparison-compare-handle:before,
  .nine .mb2comparison-compare-horizontal .mb2comparison-compare-handle:after,
  .nine .mb2comparison-compare-vertical .mb2comparison-compare-handle:before,
  .nine .mb2comparison-compare-vertical .mb2comparison-compare-handle:after {
    content: " ";
    display: block;
    background: #fff;
    position: absolute;
    z-index: 3;
    width: 2px; }
  .nine .mb2comparison-compare-horizontal .mb2comparison-compare-handle:before {
    margin-bottom: 15px; }
  .nine .mb2comparison-compare-horizontal .mb2comparison-compare-handle:after {
    margin-top: 10px; }

.ten {
  height: 1080px;
  padding-top: 184px; }
  .ten .heading {
    margin-bottom: 30px; }
    .ten .heading .heading-text {
      margin-left: 390px; }
  .ten .text {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    margin-bottom: 85px; }
  .ten .review {
    margin: 0 auto;
    height: 390px;
    padding: 0 30px;
    background: url("../img/ten_bg.jpg") 50% 100% no-repeat; }
    .ten .review .review-item {
      color: #fff;
      float: left;
      outline: none;
      margin: 0 30px; }
    .ten .review .review-video {
      float: left;
      position: relative;
      margin-bottom: 20px; }
      .ten .review .review-video:before {
        top: 0;
        left: 0;
        z-index: 10;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .ten .review .review-video:hover:before {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        background: rgba(0, 0, 0, 0.4); }
      .ten .review .review-video a {
        top: 50%;
        left: 50%;
        z-index: 50;
        color: #fff;
        width: 86px;
        height: 86px;
        outline: none;
        display: block;
        font-size: 30px;
        padding: 26px 0;
        line-height: 30px;
        margin-top: -43px;
        text-align: center;
        margin-left: -43px;
        position: absolute;
        text-decoration: none;
        border: 2px solid #fff;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .ten .review .review-video a:hover {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
    .ten .review .review-author {
      color: #fff;
      text-align: right; }
      .ten .review .review-author .name {
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px; }
      .ten .review .review-author .city {
        color: #aaa;
        display: block;
        font-size: 12px;
        line-height: 20px; }
    .ten .review .review-nav {
      top: 85px;
      width: 21px;
      height: 93px;
      z-index: 100;
      cursor: pointer;
      position: absolute;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background: url("../img/slide-nav.png") no-repeat; }
      .ten .review .review-nav:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
      .ten .review .review-nav.prev {
        left: -30px;
        background-position: 0 0; }
      .ten .review .review-nav.next {
        right: -30px;
        background-position: -21px 0; }

.eleven {
  height: 1080px;
  padding-top: 184px; }
  .eleven .heading {
    margin-bottom: 50px; }
    .eleven .heading .heading-icon {
      width: 120px;
      height: 120px;
      background: url("../img/eleven-title.png") 0 0 no-repeat; }
    .eleven .heading .heading-text {
      margin-left: 510px; }
  .eleven .text {
    font-size: 30px;
    font-weight: 300;
    line-height: 38px;
    text-align: center;
    margin-bottom: 70px; }
    .eleven .text b {
      font-weight: 600; }
  .eleven .h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 10px; }
  .eleven .text2 {
    margin-left: 60px;
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    margin-bottom: 10px; }
  .eleven .more-text {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    padding-left: 680px;
    margin-bottom: 50px; }
    .eleven .more-text .view-all {
      color: #000;
      border-bottom: 1px solid #000; }
      .eleven .more-text .view-all:hover {
        border-bottom-color: transparent; }
  .eleven .price {
    font-size: 24px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    position: relative; }
    .eleven .price strong {
      font-size: 48px;
      font-weight: 700; }
      .eleven .price strong span {
        font-size: 24px; }
    .eleven .price:before {
      top: 50%;
      left: -30px;
      content: '';
      width: 200px;
      position: absolute;
      border: 1px solid #000; }
    .eleven .price:after {
      top: 50%;
      right: -30px;
      content: '';
      width: 200px;
      position: absolute;
      border: 1px solid #000; }

.bg-layout .seven2 {
  background: url("../img/b04_bg.jpg") 50% 50% no-repeat; }
.bg-layout .eight {
  background: url("../img/eight_bg.jpg") 50% 498px no-repeat; }
.bg-layout .eleven {
  background: url("../img/eleven_bg.jpg") 50% 268px no-repeat; }

.b06 {
  position: relative;
  background: url("../img/b06_bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .b06 .left-col {
    float: left;
    width: 620px; }
  .b06 .right-col {
    float: right;
    width: 540px; }
    .b06 .right-col .fotm-block {
      margin: 0 auto; }
  .b06 .logo {
    margin-bottom: 50px; }
  .b06 .text {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
