* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	position: relative;
	min-width: 1240px;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	width: 1240px;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

section {
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.heading {
	height: 120px;
	position: relative;

	.heading-letter {
		top: 0;
		left: 0;
		color: #dadada;
		font-size: 180px;
		font-weight: 700;
		line-height: 120px;
		position: absolute;
		font-family: $font-head;
	}

	.heading-text {
		font-size: 17px;
		line-height: 17px;
		position: relative;
		margin-left: 245px;
		padding-bottom: 20px;
		text-transform: uppercase;

		&:before {
			left: 0;
			bottom: 0;
			content: '';
			width: 100px;
			position: absolute;
			border-bottom: 2px solid #000;
		}
	}

	.heading-word {
		top: 35px;
		left: 70px;
		font-size: 42px;
		font-weight: 400;
		line-height: 40px;
		position: absolute;
		text-transform: uppercase;
	}
}

.form-block {
	color: #000;
	width: 520px;
	background: #fff;
	text-align: center;
	padding: 60px 70px;

	.form-title {
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 30px;
		font-family: $font-head;
		text-transform: uppercase;
	}

	.form-text {
		color: #444;
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 30px;

	}

	.form-inner {
		width: 260px;
		margin: 0 auto 40px auto;
	}
}

.sidebar {
	top: 0;
	left: 0;
	bottom: 0;
	width: 40px;
	z-index: 50;
	position: absolute;
	background: url("../img/sidebar.png") 0 50% no-repeat;

	.sidebar-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	a {
		left: 0;
		top: 0;
		bottom: 0;
		width: 40px;
		display: block;
		cursor: pointer;
		margin-top: -190px;
		position: absolute;
	}
}

.bg-layout {
	top: 0;
	left: 50%;
	z-index: 20;
	height: 100%;
	width: 1920px;
	margin-left: -960px;
	position: absolute;
}

.character-layout {
	top: 0;
	left: 50%;
	z-index: 30;
	height: 100%;
	width: 1920px;
	margin-left: -960px;
	position: absolute;

	.character-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.character {
		color: #f2f2f2;
		line-height: 1;
		font-weight: 700;
		position: absolute;
		font-family: $font-head;
	}
}

.content-layout {
	z-index: 40;
	position: relative;
}


.character-layout {
	top: 0;
	left: 50%;
	z-index: 30;
	height: 100%;
	width: 1920px;
	margin-left: -960px;
	position: absolute;

	.character-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.character {
		color: #f2f2f2;
		line-height: 1;
		font-weight: 700;
		position: absolute;
		font-family: $font-head;
	}
}

.content-layout {
	z-index: 40;
	position: relative;
}



.btn_close {
	top: -84px;
	right: -84px;
	width: 57px;
	height: 57px;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon-close.png") 0 0 no-repeat;
}


.video-box {
	width: 800px;
}

.section-inner {
	position: relative;
}


.modal-box {
	top: 0;
	left: 0;
	bottom: 0;
	width: 1px;
	color: #fff;
	z-index: 9999;
	position: fixed;
	overflow: hidden;
	background: #000;
	max-width: 100%;
	@include transition(.4s);

	.modal-box-inner {
		width: 100%;
		height: 100%;
		padding: 50px 30px 0 30px;
		position: relative;

		.btn-close {
			top: 10px;
			right: 12px;
			width: 57px;
			height: 57px;
			display: none;
			cursor: pointer;
			position: absolute;
			background: url("../img/icon-close.png") 0 0 no-repeat;
		}
	}


	&.open {
		width: 600px;
		@include transition(.4s);

		.btn-close {
			display: block;
		}
	}

	.form-block {
		color: #fff;
		background: #000;
	}

	.form-text {
		color: #f5f5f5;
	}

	.form-control {

	}
}