.b02 {
    position: relative;

    .character-layout {

        .character01 {
            top: 200px;
            left: 1290px;
            font-size: 370px;
        }

        .character02 {
            top: 850px;
            left: 170px;
            color: #f5f5f5;
            font-size: 150px;
        }

        .character03 {
            top: 1260px;
            left: 1260px;
            color: #f5f5f5;
            font-size: 500px;
        }

        .character04 {
            top: 1900px;
            left: 370px;
            color: #f5f5f5;
            font-size: 150px;
        }

        .character05 {
            top: 1800px;
            left: 1410px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 400px;
        }

        .character06 {
            top: 3050px;
            left: 1180px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 150px;
        }

        .character07 {
            top: 3150px;
            left: 1480px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 100px;
        }

        .character08 {
            top: 3350px;
            left: 1450px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 300px;
        }

        .character09 {
            top: 4090px;
            left: 1090px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 200px;
        }

        .character10 {
            top: 4860px;
            left: 70px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 400px;
        }

        .character11 {
            top: 4900px;
            left: 1660px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 300px;
        }

        .character12 {
            top: 5500px;
            left: 1620px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 400px;
        }

        .character13 {
            top: 6500px;
            left: 140px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 120px;
        }

        .character14 {
            top: 6600px;
            left: 1600px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 400px;
        }

        .character15 {
            top: 7000px;
            left: 100px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 250px;
        }
    }
}

.one {
    height: 1080px;
    padding-top: 185px;
    position: relative;

    .people {

        li {
              width: 365px;

            &.item1 {
                float: left;
                padding-top: 55px;
                margin-left: 130px;
            }

            &.item2 {
                float: right;
                margin-right: 160px;

                .people-item {

                    &:before {
                        height: 250px;
                    }
                }
            }
        }


        h4 {
            color: #888;
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 18px;
        }

        .people-item {
            cursor: pointer;
            margin-left: 28px;
            position: relative;
            @include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.07));

            &:before {
                top: 0;
                left: -28px;
                content: '';
                height: 195px;
                position: absolute;
                border-left: 1px solid #ececec;
            }

            .people-title {
                left: 30px;
                right: 30px;
                bottom: 25px;
                color: #eeeeee;
                display: block;
                font-size: 15px;
                line-height: 27px;
                position: absolute;

                strong {
                    color: #fff;
                    font-size: 17px;
                }
            }

            .people-text {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: #eee;
                display: none;
                font-size: 15px;
                line-height: 24px;
                position: absolute;
                padding: 25px 30px;
                background: rgba(0,0,0, 0.8);

                p {
                    position: relative;
                    padding-bottom: 10px;

                    &:before {
                        left: 0;
                        bottom: 0;
                        content: '';
                        width: 100px;
                        position: absolute;
                        border-bottom: 2px solid #fff;
                    }
                }
            }

            &:hover {

                .people-title {
                    display: none;
                }

                .people-text {
                    display: block;
                }
            }
        }
    }
}

.two {
    height: 1080px;
    padding-top: 185px;

    .heading {
        margin-bottom: 140px;

        .heading-text {
            margin-left: 360px;
        }
    }

    .text {
        font-size: 34px;
        font-weight: 300;
        line-height: 44px;
        margin-bottom: 120px;
    }

    .social {

        .social-left {
            color: #888;
            float: left;
            width: 270px;
            font-size: 22px;
            font-weight: 300;
            line-height: 32px;
            padding-top: 35px;

            span {
                color: #000;
            }
        }

        .social-right {
            width: 900px;
            float: right;
            margin-right: -5px;
        }

        .social-icon {
            margin-bottom: 25px;

            li {
                float: left;
                width: 140px;
                height: 140px;
                margin: 0 5px;
                background: #000 url("../img/b02_two_icon.png") no-repeat;

                &:hover {
                    background-color: #fff;
                }

                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-top: 3px solid #000;
                    border-bottom: 3px solid #000;
                }

                &.item1 {
                    background-position: 0 -140px;

                    &:hover {
                        background-position: 0 0;
                    }
                }

                &.item2 {
                    background-position: -150px -140px;

                    &:hover {
                        background-position: -150px 0;
                    }
                }

                &.item3 {
                    background-position: -300px -140px;

                    &:hover {
                        background-position: -300px 0;
                    }
                }

                &.item4 {
                    background-position: -450px -140px;

                    &:hover {
                        background-position: -450px 0;
                    }
                }

                &.item5 {
                    background-position: -600px -140px;

                    &:hover {
                        background-position: -600px 0;
                    }
                }

                &.item6 {
                    background-position: -750px -140px;

                    &:hover {
                        background-position: -750px 0;
                    }
                }
            }
        }

        .social-help {
            padding: 0 20px;
            font-size: 14px;
            line-height: 14px;
            margin-left: 5px;
            margin-bottom: 10px;
            display: inline-block;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }

        .worktime {
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
            margin-left: 5px;

            span {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}

.three {
    z-index: 50;
    height: 1080px;
    padding-top: 210px;


    .heading {

        .heading-letter {
            color: #aaa;
        }

        .heading-word {
            color: #fff;
        }

        .heading-text {
            color: #fff;
            margin-left: 360px;

            &:before {
                border-color: #fff;
            }
        }
    }

    .creative {
        width: 1170px;
        margin: 0 auto 75px auto;
        position: relative;

        .creative-item {
            float: left;
            width: 380px;
            outline: none;
            margin: 0 5px;
            background: #f7f7f7;
        }

        .creative-img {
            position: relative;
        }

        h4 {
            top: 35px;
            left: 25px;
            right: 25px;
            color: #fff;
            font-size: 24px;
            line-height: 26px;
            position: absolute;
            text-transform: uppercase;
            font-family: $font-head;
        }

        p {
            color: #888;
            font-size: 16px;
            line-height: 24px;
            padding: 25px 25px;
            margin-bottom: 10px;
        }

        .creative-nav {
            top: 50%;
            width: 21px;
            height: 93px;
            z-index: 100;
            cursor: pointer;
            margin-top: -46px;
            position: absolute;
            background: url("../img/creative-nav.png") no-repeat;

            &.prev {
                left: -30px;
                background-position: 0 0;
            }

            &.next {
                right: -30px;
                background-position: -21px 0;
            }
        }

        .slick-dots {
            right: -10px;
            width: 200px;
            bottom: -55px;
            font-size: 0;
            line-height: 0;
            text-align: right;
            position: absolute;

            li {
                width: 20px;
                height: 20px;
                margin: 0 10px;
                display: inline-block;

                button {
                    margin: 0;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    outline: none;
                    overflow: hidden;
                    background: #fff;
                    display: inline-block;
                    border: 2px solid #000;
                    @include border-radius(50%);
                }

                &.slick-active {

                    button {
                        background: #000;
                        border-color: #fff;
                    }
                }
            }
        }
    }
}

.four {
    height: 1080px;
    padding-top: 184px;

    .heading {

        .heading-text {
            margin-left: 280px;
        }
    }

    .service {
        color: #000;
        height: 620px;
        margin-top: -35px;
        position: relative;

        .service-item {
            width: 345px;
            height: 200px;
            overflow: hidden;
            position: relative;
        }

        .service-text {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: #ffffff;
            overflow: hidden;
            position: absolute;
            @include transition(.4s);
            padding: 135px 30px 20px 30px;
        }

        h4 {
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            margin-bottom: 15px;
            padding-bottom: 17px;
            position: relative;

            &:before {
                left: 0;
                bottom: 0;
                content: '';
                width: 50px;
                display: none;
                position: absolute;
                border-bottom: 2px solid #fff;
            }
        }

        li {
            width: 345px;
            height: 200px;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            position: absolute;

            &:hover {

                .service-text {
                    padding-top: 20px;
                    @include transition(.4s);
                    background: rgba(0,0,0, 0.7);
                }

                h4 {
                    &:before {
                        display: block;
                    }
                }
            }

            &.item1 {
                left: 0;
                top: 160px;
            }

            &.item2 {
                top: 45px;
                left: 410px;
            }

            &.item3 {
                top: 0;
                left: 810px;
            }

            &.item4 {
                left: 0;
                top: 420px;
            }

            &.item5 {
                top: 305px;
                left: 410px;
            }

            &.item6 {
                top: 260px;
                left: 810px;
            }
        }
    }
}

.five {
    height: 1080px;
    padding-top: 184px;

    .heading {

        .heading-word {
            left: 110px;
        }
    }

    .model {
        margin-top: -20px;
        margin-right: -30px;

        .model-item {
            outline: none;
            padding-top: 83px;
            position: relative;
        }

        .model-image {
            width: 1180px;
        }



        .model-nav {
            top: 50%;
            width: 21px;
            height: 93px;
            z-index: 100;
            cursor: pointer;
            margin-top: -46px;
            position: absolute;
            @include opacity(0.6);
            background: url("../img/slide-nav.png") no-repeat;

            &:hover {
                @include opacity(1);
            }

            &.prev {
                left: -30px;
                background-position: 0 0;
            }

            &.next {
                right: 0;
                background-position: -21px 0;
            }
        }
    }

    .model-inner {
        position: relative;
        .model-text {
            top: 0;
            right: 0;
            z-index: 100;
            color: #fff;
            width: 630px;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            padding: 40px 60px;
            position: absolute;
            background: #000000;

            p {
                margin-bottom: 0;
                position: relative;
                padding-bottom: 16px;

                &:before {
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 100px;
                    position: absolute;
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }

}

.six {
    height: 1080px;
    padding-top: 184px;

    .heading {
        margin-bottom: 130px;

        .heading-text {
            margin-left: 320px;
        }
    }

    .analysis {
        color: #fff;
        width: 100%;
        display: table;
        margin-bottom: 25px;

        li {
            height: 135px;
            display: table-cell;
            vertical-align: middle;

            &.item1 {
                width: 135px;
                background-color: #fff;
                border-left: 1px solid #ececec;

                &.icon1 {
                    background: #fff url("../img/six_item1.png") 50% 50% no-repeat;
                }

                &.icon2 {
                    background: #fff url("../img/six_item2.png") 50% 50% no-repeat;
                }

                &.icon3 {
                    background: #fff url("../img/six_item3.png") 50% 50% no-repeat;
                }
            }

            &.item2 {
                width: 400px;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                padding-left: 45px;
                padding-right: 60px;
                text-transform: uppercase;
                background: url("../img/six_arrow.png") 327px 50% no-repeat;
            }

            &.item3 {
                font-size: 20px;
                line-height: 28px;
                font-weight: 300;
                margin-bottom: 10px;
            }
        }
    }
}

.seven {
    height: 1080px;
    padding-top: 184px;
    position: relative;

    .container {

    }

    &.full {

        .seven-one {
            z-index: -1;
            @include opacity(0);
        }

        .seven-two {
            z-index: 45;
            @include opacity(1);
        }
    }
}


.seven-one {
    z-index: 45;
    left: 0;
    width: 1180px;
    height: 895px;
    position: absolute;

    .heading {
        margin-bottom: 30px;

        .heading-text {
            margin-left: 520px;
        }
    }

    .portfolio {

        li {
            float: left;
            width: 33.33%;
            position: relative;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;

            .text {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: #fff;
                padding: 25px;
                text-align: right;
                position: absolute;
                @include transition(.3s);

                .object {
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .object-name {
                    color: #ddd;
                    font-size: 12px;
                }
            }

            .btn-more {
                color: #fff;
                right: 30px;
                bottom: 30px;
                width: 10px;
                height: 10px;
                outline: none;
                text-align: center;
                position: absolute;
                display: inline-block;
                text-decoration: none;
                border: 2px solid #fff;
                @include transition(.3s);

                i {
                    display: none;
                    font-size: 16px;
                    line-height: 16px;
                }
            }

            &:hover {

                .text {
                    @include transition(.3s);
                    background: rgba(0,0,0, 0.55);
                }

                .btn-more {
                    width: 34px;
                    height: 34px;
                    padding: 5px 0;
                    @include transition(.3s);

                    i {
                        display: inline;
                    }
                }
            }
        }
    }
}

.seven-two {
    z-index: -1;
    top: 0;
    left: 0;
    width: 1180px;
    height: 895px;
    position: absolute;
    @include opacity(0);

    .seven-two-title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 30px;
        text-align: right;
        text-transform: uppercase;
    }

    .tabs {
        padding-left: 115px;
        position: relative;

        .tabs-content {
            width: 1065px;
            height: 835px;
            position: relative;
        }
    }


    .tabs-nav-inner {
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        padding: 70px 0;
        position: absolute;
    }

    .tabs-nav {
        width: 220px;
        position: relative;

        .tabs-nav-item {
            padding: 3px;
            background: #fff;
            position: relative;
            margin-bottom: 10px;

            .tabs-nav-text {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: none;
                position: absolute;
                padding: 15px 10px 10px 15px;

                span {
                    color: #fff;
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                }

                p {
                    color: #fff;
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 0;
                }
            }

            a {
                display: block;
                background: #000;
                position: relative;
            }

            img {
                @include opacity(.4);
            }


            &:hover {

                a {
                    .tabs-nav-text {
                        display: block;
                    }
                }

                img {
                    @include opacity(.8);
                }
            }

            &.active {

                img {
                    @include opacity(1);
                }
            }
        }

        .tabs-nav-nav {
            left: -25px;
            width: 50px;
            height: 13px;
            z-index: 100;
            cursor: pointer;
            position: absolute;
            background: url("../img/vert-nav.png") no-repeat;

            &.prev {
                top: -50px;
                background-position: 0 0;
            }

            &.next {
                bottom: -50px;
                background-position: 0 -13px;
            }
        }
    }

    .tabs-item {
        top: 0;
        left: 0;
        z-index: 50;
        width: 1065px;
        height: 835px;
        position: absolute;
        @include opacity(0);

        &.active {
            z-index: 70;
            @include opacity(1);
        }

        .pf-slider-text {
            left: 0;
            right: 0;
            color: #fff;
            top: 295px;
            position: absolute;

            h4 {
                font-size: 32px;
                font-weight: 300;
                line-height: 44px;
                margin-left: 155px;
                margin-bottom: 50px;
            }

            .btn {
                margin: 0 30px;
            }
        }


        .tabs-text {
            left: 0;
            top: 90px;
            width: 245px;
            display: none !important;
            position: absolute;
            background: rgba(0,0,0, 0.8);
            padding: 15px 20px 20px 70px;

            span {
                color: #888;
                display: block;
                font-size: 14px;
                line-height: 28px;
            }

            p {
                color: #fff;
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 0;
            }
        }
    }

    .pf-slider {
        height: 835px;
        overflow: hidden;
        position: relative;

        .pf-slider-item {
            height: 835px;
            position: relative;
            @include opacity(1);
            background: #000;

            &.pf-slider-last {

                img {
                    @include opacity(.4);
                }
            }
        }


        .slick-dots {
            right: 30px;
            bottom: 30px;
            font-size: 0;
            line-height: 0;
            position: absolute;
            text-align: right;

            li {
                width: 20px;
                margin: 0 10px;
                display: inline-block;

                button {
                    margin: 0;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    outline: none;
                    overflow: hidden;
                    display: inline-block;
                    background: transparent;
                    border: 2px solid #fff;
                    @include border-radius(50%);
                }

                &.slick-active {

                    button {
                        background: #fff;
                        border-color: transparent;
                    }
                }
            }
        }
    }
}

.bg-layout {

    .one {
        background: url("../img/b02_one_bg.jpg") 50% 100% no-repeat;
    }

    .three {
        background: url("../img/b02_three_bg.jpg") 50% 0 no-repeat;
    }

    .four {
        background: url("../img/b02_four_bg.jpg") 50% 455px no-repeat;
    }

    .six {
        background: url("../img/six-bg.jpg") 50% 352px no-repeat;
    }
}