.b03 {

    .heading {
        margin-bottom: 45px;

        .heading-text {
            margin-left: 440px;
        }
    }

    .contents {

        .contents-slider {
            position: relative;
        }

        .contents-item {
            outline: none;
            height: 550px;
            padding-top: 100px;

            &.item1 {
                background: url("../img/b03_bg.jpg") 50% 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b03_bg.jpg") 50% 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b03_bg.jpg") 50% 0 no-repeat;
            }

            &.item4 {
                background: url("../img/b03_bg.jpg") 50% 0 no-repeat;
            }
        }

        .contents-image {
            position: relative;
            margin-bottom: 30px;

            .btn-more {
                color: #fff;
                right: 30px;
                bottom: 30px;
                width: 10px;
                height: 10px;
                outline: none;
                text-align: center;
                position: absolute;
                display: inline-block;
                text-decoration: none;
                border: 2px solid #fff;
                @include transition(.3s);

                i {
                    display: none;
                    font-size: 16px;
                    line-height: 16px;
                }
            }

            &:hover {

                .btn-more {
                    width: 34px;
                    height: 34px;
                    padding: 5px 0;
                    @include transition(.3s);

                    i {
                        display: inline;
                    }
                }
            }
        }



        .contents-text {
            font-size: 22px;
            font-weight: 300;
            line-height: 32px;
            text-align: center;

            strong {
                font-weight: 600;
            }
        }

        .slick-dots {
            font-size: 0;
            line-height: 0;
            padding-top: 47px;
            text-align: center;

            li {
                width: 30px;
                height: 15px;
                margin: 0 10px;
                display: inline-block;

                button {
                    margin: 0;
                    padding: 0;
                    width: 30px;
                    height: 15px;
                    border: none;
                    outline: none;
                    overflow: hidden;
                    display: inline-block;
                    background: transparent;
                    border-bottom: 2px solid #e1e1e1;
                }

                &.slick-active {

                    button {
                        border-color: #000;
                    }
                }
            }
        }
    }
}