.head {
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 140px;
    z-index: 999;
    min-width: 1240px;
    padding-top: 40px;
    position: absolute;

    .header-container {
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        min-width: 1240px;
        position: relative;
        @include clearfix();
    }

    .header-logo {
        float: left;
    }

    .header-contact {
        float: right;
        width: 250px;
        text-align: right;

        li {
            margin-bottom: 15px;

            .tel {
                color: #fff;
                outline: none;
                font-size: 24px;
                font-weight: 300;
                line-height: 24px;
                text-decoration: none;
                font-family: $font-head;
            }

        }
    }

    .btn-callback {
        color: #fff;
        border: none;
        outline: none;
        padding: 0 10px;
        font-size: 15px;
        font-weight: 300;
        line-height: 15px;
        display: inline-block;
        vertical-align: middle;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;

        &:hover {
            color: #dc1217;
            border-color: #dc1217;
        }
    }

    .playback {
        float: right;
        margin-right: 90px;

        li {
            float: left;
            margin: 0 5px;

            &:first-child {
                margin-right: 28px;
            }

            &:last-child {
                margin-left: 28px;
            }

            a {
                outline: none;
                color: #848585;
                font-size: 16px;
                line-height: 16px;
                padding: 2px 3px;
                display: inline-block;
                text-decoration: none;


                &:hover {
                    color: #fff;
                }

                &.active {
                    color: #fff;
                }
            }
        }
    }
}

.b01 {
    z-index: 100;
    color: #fff;
    position: relative;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    &.page-start {
        padding: 220px 0;
    }

    .container {
        width: auto;
        max-width: 1440px;
        min-width: 1240px;
    }

    .content {
        background: url("../img/b01_text-right.png") 100% 50% no-repeat;
    }

    h1 {
        font-size: 90px;
        line-height: 100px;
        font-family: $font-head;
        margin-bottom: 50px;
    }

    .text {
        font-size: 25px;
        line-height: 30px;
    }

    .scroll-down {
        left: 50%;
        bottom: 50px;
        width: 110px;
        color: #ffffff;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        position: absolute;
        margin-left: -55px;
        padding-bottom: 25px;
        text-decoration: none;
        text-transform: uppercase;
        background: url("../img/b01_scroll.png") 50% 100% no-repeat;
        @include opacity(0.8);

        &:hover {
            @include opacity(1);
        }
    }
}