.b06 {
    position: relative;
    background: url("../img/b06_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .left-col {
        float: left;
        width: 620px;
    }

    .right-col {
        float: right;
        width: 540px;

        .fotm-block {
            margin: 0 auto;
        }
    }

    .logo {
        margin-bottom: 50px;
    }

    .text {
        color: #888;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-transform: uppercase;
    }
}