.b05 {

    .character-layout {

        .character01 {
            top: 380px;
            right: -100px;
            color: #666666;
            font-size: 300px;
        }

        .character02 {
            top: 760px;
            left: 140px;
            color: #666666;
            font-size: 150px;
        }

        .character03 {
            top: 1270px;
            left: 1650px;
            color: #f5f5f5;
            font-size: 300px;
        }

        .character04 {
            top: 2280px;
            left: 100px;
            color: #f5f5f5;
            font-size: 400px;
        }

        .character05 {
            top: 2320px;
            right: -10px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 250px;
        }

        .character06 {
            top: 3450px;
            left: 1670px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 15px;
        }


        .character07 {
            top: 4000px;
            left: 70px;
            z-index: 100;
            color: #f5f5f5;
            font-size: 300px;
        }
    }
}

.seven2 {
    color: #fff;
    height: 1080px;
    padding-top: 184px;


    .heading {
        color: #fff;
        margin-bottom: 60px;

        .heading-text {
            margin-left: 340px;

            &:before {
                border-color: #fff;
            }
        }
    }

    .text1 {
        font-size: 32px;
        font-weight: 300;
        line-height: 44px;
        margin-left: 240px;
        margin-bottom: 120px;

        span {
            display: block;
            font-weight: 600;
        }
    }

    .text2 {
        font-size: 36px;
        font-weight: 300;
        line-height: 80px;
        margin-left: 130px;
        margin-bottom: 120px;

        .num {
            font-size: 80px;
        }

        .small {
            font-size: 18px;
            line-height: 28px;
        }
    }

    .text3 {
        margin-left: 560px;
        font-size: 24px;
    }
}

.eight {
    height: 1080px;
    padding-top: 184px;


    .heading {
        margin-bottom: 35px;

        .heading-text {
            margin-left: 440px;
        }
    }

    .text {
        font-size: 36px;
        font-weight: 300;
        line-height: 42px;
        text-align: center;
        margin-bottom: 70px;

        span {
            display: block;
            font-size: 30px;
        }
    }

    .criterion {
        padding:0;
        list-style: none;
        counter-reset: li;
        margin-bottom: 45px;

        li {
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;
            position:relative;
            margin-bottom: 25px;
            padding: 10px 0 10px 45px;

            &:before {
                top: 0;
                left: 0;
                font-size: 48px;
                font-weight: 700;
                line-height: 50px;
                position: absolute;
                content:counter(li);
                counter-increment:li;
            }

            &:after {
                top: 0;
                left: 30px;
                content: '.';
                font-size: 48px;
                font-weight: 300;
                line-height: 50px;
                position: absolute;
            }

            strong {
                font-weight: 600;
            }

            &.item2 {
                margin-left: 30px;
            }

            &.item3 {
                margin-left: 60px;
            }
            &.item4 {
                margin-left: 90px;
            }

        }
    }

    .text2 {
        font-size: 18px;
        font-weight: 300;
        line-height: 38px;
        margin-bottom: 40px;
        margin-left: 270px;

        b {
            font-weight: 600;
        }

        span {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .text3 {
        font-size: 26px;
        font-weight: 600;
        line-height: 38px;
        margin-left: 185px;
        position: relative;
        padding-bottom: 15px;

        &:before {
            left: 0;
            bottom: 0;
            content: '';
            width: 100px;
            position: absolute;
            border-bottom: 2px solid #000;
        }
    }

    .btn {
        left: 690px;
        bottom: 0;
        position: absolute;
    }
}

.nine {
    height: 1080px;
    max-width: 100%;
    overflow: hidden;
    padding-top: 184px;


    .heading {

        .heading-text {
            margin-left: 500px;
        }
    }

    .text {
        height: 130px;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        margin: -50px 0 0 500px;

        strong {
            font-weight: 600;
        }
    }

    .mb2comparison {
        height: 690px;
        max-width: 100%;

        .mb2comparison-compare-before {
            height: 690px;
            max-width: 100%;

        }

        .mb2comparison-compare-after {
            height: 690px;
            max-width: 100%;

        }
    }

    .mb2comparison-compare-handle {
        left: 50%;
        top: 50%;
        z-index: 10;
        width: 116px;
        height: 36px;
        cursor: pointer;
        margin-top: -16px;
        margin-left: -58px;
        position: absolute;
        background: url("../img/divider-handle.png") 0 0 no-repeat;
    }

    .mb2comparison-compare-horizontal .mb2comparison-compare-handle:before,
    .mb2comparison-compare-horizontal .mb2comparison-compare-handle:after,
    .mb2comparison-compare-vertical .mb2comparison-compare-handle:before,
    .mb2comparison-compare-vertical .mb2comparison-compare-handle:after {
        content: " ";
        display: block;
        background: #fff;
        position: absolute;
        z-index: 3;
        width: 2px;
    }

    .mb2comparison-compare-horizontal .mb2comparison-compare-handle:before {
        margin-bottom: 15px;
    }

    .mb2comparison-compare-horizontal .mb2comparison-compare-handle:after {
        margin-top: 10px;
    }
}

.ten {
    height: 1080px;
    padding-top: 184px;

    .heading {
        margin-bottom: 30px;

        .heading-text {
            margin-left: 390px;
        }
    }

    .text {
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        text-align: center;
        margin-bottom: 85px;
    }

    .review {
        margin: 0 auto;
        height: 390px;
        padding: 0 30px;
        background: url("../img/ten_bg.jpg") 50% 100% no-repeat;

        .review-item {
            color: #fff;
            float: left;
            outline: none;
            margin: 0 30px;
        }

        .review-video {
            float: left;
            position: relative;
            margin-bottom: 20px;

            &:before {
                top: 0;
                left: 0;
                z-index: 10;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                @include transition(.3s);
            }

            &:hover {

                &:before {
                    @include transition(.3s);
                    background: rgba(0,0,0, 0.4);
                }
            }

            a {
                top: 50%;
                left: 50%;
                z-index: 50;
                color: #fff;
                width: 86px;
                height: 86px;
                outline: none;
                display: block;
                font-size: 30px;
                padding: 26px 0;
                line-height: 30px;
                margin-top: -43px;
                text-align: center;
                margin-left: -43px;
                position: absolute;
                text-decoration: none;
                border: 2px solid #fff;
                @include transition(.3s);

                &:hover {
                    @include border-radius(50%);
                    @include transition(.3s);
                }
            }
        }

        .review-author {
            color: #fff;
            text-align: right;

            .name {
                display: block;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
            }

            .city {
                color: #aaa;
                display: block;
                font-size: 12px;
                line-height: 20px;
            }
        }

        .review-nav {
            top: 85px;
            width: 21px;
            height: 93px;
            z-index: 100;
            cursor: pointer;
            position: absolute;
            @include opacity(0.6);
            background: url("../img/slide-nav.png") no-repeat;

            &:hover {
                @include opacity(1);
            }

            &.prev {
                left: -30px;
                background-position: 0 0;
            }

            &.next {
                right: -30px;
                background-position: -21px 0;
            }
        }
    }
}

.eleven {
    height: 1080px;
    padding-top: 184px;


    .heading {
        margin-bottom: 50px;

        .heading-icon {
            width: 120px;
            height: 120px;
            background: url("../img/eleven-title.png") 0 0 no-repeat;
        }

        .heading-text {
            margin-left: 510px;
        }
    }

    .text {
        font-size: 30px;
        font-weight: 300;
        line-height: 38px;
        text-align: center;
        margin-bottom: 70px;

        b {
            font-weight: 600;
        }
    }

    .h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        margin-bottom: 10px;
    }

    .text2 {
        margin-left: 60px;
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .more-text {
        font-size: 24px;
        font-weight: 300;
        line-height: 26px;
        padding-left: 680px;
        margin-bottom: 50px;

        .view-all {
            color: #000;
            border-bottom: 1px solid #000;

            &:hover {
                border-bottom-color: transparent;
            }
        }
    }

    .price {
        font-size: 24px;
        font-weight: 300;
        line-height: 48px;
        text-align: center;
        position: relative;

        strong {
            font-size: 48px;
            font-weight: 700;

            span {
                font-size: 24px;
            }
        }

        &:before {
            top: 50%;
            left: -30px;
            content: '';
            width: 200px;
            position: absolute;
            border: 1px solid #000;
        }

        &:after {
            top: 50%;
            right: -30px;
            content: '';
            width: 200px;
            position: absolute;
            border: 1px solid #000;
        }
    }
}

.bg-layout {

    .seven2 {
        background: url("../img/b04_bg.jpg") 50% 50% no-repeat;
    }

    .eight {
        background: url("../img/eight_bg.jpg") 50% 498px no-repeat;
    }

    .eleven {
        background: url("../img/eleven_bg.jpg") 50% 268px no-repeat;
    }
}