.footer-main {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 126px;
    min-width: 1240px;
    position: absolute;
    background: rgba(0,0,0, 0.6);
    border-top: 1px solid #454545;

    .footer-row {
        width: 100%;
        z-index: 100;
        display: table;
        position: relative;

        li {
            width: 33.33%;
            height: 125px;
            display: table-cell;
            vertical-align: middle;

            &.item1 {
                color: #ddd;
                font-size: 24px;
                font-weight: 300;
                line-height: 50px;
                font-family: $font-head;

                span {
                    display: block;
                    color: #de1c22;
                    font-weight: 600;
                }
            }

            &.item2 {
                text-align: center;

                .tel {
                    color: #fefefe;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 40px;
                    display: inline-block;
                    text-decoration: none;
                }

                .email {
                    color: #fefefe;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 40px;
                    display: inline-block;
                    text-decoration: none;
                }
            }

            &.item3 {
                text-align: right;
            }
        }
    }
}