.btn {
	margin:0;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
	position: relative;
	padding: 20px 35px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	border: 2px solid #fff;
	background: transparent;
	touch-action: manipulation;
	@include transition(.3s);

	&:hover {
		color: #000;
		background: #fff;
		text-decoration: none;
	}
}

.btn-invert {
	color: #000;
	border-color: #000;

	&:hover {
		color: #fff;
		background: #000;
	}
}

.btn-text {
	color: #aaa;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;

	&:hover {
		color: #fff;
		border-color: #fff;
	}
}

.btn-transparent {

}